Repository blinklabs-io/cardano-compose-stacks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wolf31o2, @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

fix: use preloaded images in Antithesis
  antithesis/dingo-praos/README.md
  antithesis/dingo-praos/scripts/validate-config.sh
  antithesis/dingo-praos/testnets/dingo-praos/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

chore: retire legacy Antithesis stack and update nodes
  antithesis/README.md
  antithesis/dingo-praos/Dockerfile.configurator
  antithesis/dingo-praos/docker-compose.yaml
  antithesis/dingo-praos/testnets/dingo-praos/docker-compose.yaml
  antithesis/dingo-topology.json
  antithesis/docker-compose.yaml
  antithesis/testnet.yaml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

fix: report missing jq before validating Antithesis
  antithesis/dingo-praos/scripts/validate-config.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix: refresh Antithesis stack for offline setup (#149)
  antithesis/README.md
  antithesis/dingo-praos/Dockerfile.configurator
  antithesis/dingo-praos/README.md
  antithesis/dingo-praos/docker-compose.yaml
  antithesis/dingo-praos/scripts/validate-config.sh
  antithesis/dingo-praos/testnets/dingo-praos/docker-compose.yaml
  antithesis/dingo-topology.json
  antithesis/docker-compose.yaml
  antithesis/testnet.yaml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

fix: configure Antithesis trace-dispatcher logging
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/analysis/parser_test.go
  antithesis/dingo-praos/internal/genesis/genesis_test.go
  antithesis/dingo-praos/scripts/configurator.sh
  antithesis/dingo-praos/testnet.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: remove cardano-node-api service
  README.md
  docker-compose.yaml
  observability/grafana/dashboards/cardano-overview.json
  observability/prometheus.yml
  scripts/upstream-versions.json
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

fix: configure Antithesis trace-dispatcher logging (#150)
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/analysis/parser_test.go
  antithesis/dingo-praos/internal/genesis/genesis_test.go
  antithesis/dingo-praos/scripts/configurator.sh
  antithesis/dingo-praos/testnet.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: remove cardano-node-api service (#151)
  README.md
  docker-compose.yaml
  observability/grafana/dashboards/cardano-overview.json
  observability/prometheus.yml
  scripts/upstream-versions.json
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

fix(antithesis): reject malformed slot numbers
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/analysis/parser_test.go
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): record Dingo image provenance
  .github/workflows/antithesis.yml
  antithesis/dingo-praos/README.md
  antithesis/dingo-praos/scripts/update-dingo-image.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

fix(antithesis): bind submitted run provenance
  .github/workflows/antithesis.yml
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/analysis/parser_test.go
  antithesis/dingo-praos/scripts/update-dingo-image.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): record live Dingo image provenance (#152)
  .github/workflows/antithesis.yml
  antithesis/dingo-praos/README.md
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/analysis/parser_test.go
  antithesis/dingo-praos/scripts/update-dingo-image.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

.github/CODEOWNERS:

# Blink Labs
#
antithesis: @wolf31o2
* @blinklabs-io/core @blinklabs-io/ops
*.md @blinklabs-io/core @blinklabs-io/docs @blinklabs-io/pms
LICENSE @blinklabs-io/core @blinklabs-io/pms
