Repository blinklabs-io/cardano-compose-stacks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wolf31o2, @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

.github/CODEOWNERS:

# Blink Labs
#
antithesis: @wolf31o2
* @blinklabs-io/core @blinklabs-io/ops
*.md @blinklabs-io/core @blinklabs-io/docs @blinklabs-io/pms
LICENSE @blinklabs-io/core @blinklabs-io/pms

fix(antithesis): dingo 0.17.0 instead of latest
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): dingo 0.17.0 instead of latest (#115)
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat(antithesis): healthcheck cardano-node
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat(antithesis): healthcheck cardano-node (#116)
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): remove invalid adversary build section
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): remove invalid adversary build section (#117)
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat(antithesis): wolf31o2/dingo:0.17.0-antithesis instrumented image
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat(antithesis): wolf31o2/dingo:0.17.0-antithesis instrumented image (#118)
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): prepend docker.io to image
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): prepend docker.io to image (#119)
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-db-sync 13.6.0.5
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node 10.5.1
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node-api 0.9.1
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-db-sync 13.6.0.5 (#120)
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node 10.5.1 (#121)
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node-api 0.9.1 (#122)
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: ogmios 6.14.0
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: ogmios 6.14.0 (#123)
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node 10.5.3
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node 10.5.3 (#124)
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node-api 0.9.2
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

chore: cardano-node-api 0.9.2 (#125)
  docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

ci: automated updates
  .github/workflows/check-versions.yml
  Makefile
  README.md
  scripts/add-version.sh
  scripts/check-versions.sh
  scripts/upstream-versions.json
  scripts/validate-versions.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

feat(antithesis): update for newer dingo snapshot
  antithesis/README.md
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

feat(antithesis): update for newer dingo snapshot (#127)
  antithesis/README.md
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

fix(antithesis): debug logging and internal fix
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

ci: automated updates (#126)
  .github/workflows/check-versions.yml
  Makefile
  README.md
  scripts/add-version.sh
  scripts/check-versions.sh
  scripts/upstream-versions.json
  scripts/validate-versions.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

fix(antithesis): debug logging and internal fix (#128)
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat(add-workflow): update-closed-issues
  .github/dependabot.yml
  .github/workflows/test-issue-on-close.yml
  .github/workflows/update-issue-on-close.yml
Owners: @blinklabs-io/core, @blinklabs-io/ops

test(antithesis): disable debug logging, it's too much
  antithesis/docker-compose.yaml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat(add-workflow): update-closed-issues (#129)
  .github/dependabot.yml
  .github/workflows/test-issue-on-close.yml
  .github/workflows/update-issue-on-close.yml
Owners: @blinklabs-io/core, @blinklabs-io/ops

 ci: remove issue closed date action
  .github/workflows/test-issue-on-close.yml
  .github/workflows/update-issue-on-close.yml
Owners: @blinklabs-io/core, @blinklabs-io/ops

 ci: remove issue closed date action (#130)
  .github/workflows/test-issue-on-close.yml
  .github/workflows/update-issue-on-close.yml
Owners: @blinklabs-io/core, @blinklabs-io/ops

feat: add observability stack
  README.md
  docker-compose.yaml
  observability/grafana/dashboards/cardano-overview.json
  observability/grafana/provisioning/dashboards/dashboards.yml
  observability/grafana/provisioning/datasources/prometheus.yml
  observability/prometheus.yml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

feat: add Prometheus and Grafana monitoring (#146)
  README.md
  docker-compose.yaml
  observability/grafana/dashboards/cardano-overview.json
  observability/grafana/provisioning/dashboards/dashboards.yml
  observability/grafana/provisioning/datasources/prometheus.yml
  observability/prometheus.yml
Owners: @blinklabs-io/core, @blinklabs-io/docs, @blinklabs-io/pms, @blinklabs-io/ops

fix: address compose stack migration review feedback
  .github/workflows/antithesis.yml
  antithesis/dingo-praos/Dockerfile.analysis
  antithesis/dingo-praos/Dockerfile.configurator
  antithesis/dingo-praos/docker-compose.yaml
  antithesis/dingo-praos/internal/analysis/analysis.go
  antithesis/dingo-praos/internal/analysis/config.go
  antithesis/dingo-praos/internal/analysis/metrics.go
  antithesis/dingo-praos/internal/analysis/metrics_test.go
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/genesis/genesis.go
  antithesis/dingo-praos/scripts/configurator.sh
  antithesis/dingo-praos/scripts/test-local.sh
  antithesis/dingo-praos/scripts/validate-config.sh
  antithesis/dingo-praos/scripts/wait-for-test.sh
  antithesis/dingo-praos/testnets/dingo-praos/docker-compose.yaml
  dingo-archive-demo/Dockerfile.configurator
  dingo-archive-demo/cmd/demo-fetch/main.go
  dingo-archive-demo/cmd/inspect-blob/main.go
  dingo-archive-demo/configurator.sh
  dingo-archive-demo/demo.sh
  dingo-archive-demo/docker-compose.yml
  dingo-archive-demo/load-env.sh
  dingo-archive-demo/run-tests.sh
  dingo-archive-demo/scripts/preflight-genesis-supply.sh
  dingo-archive-demo/stop.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix: address compose stack review findings
  .github/workflows/antithesis.yml
  antithesis/dingo-praos/cmd/analysis/main.go
  antithesis/dingo-praos/docker-compose.yaml
  antithesis/dingo-praos/internal/analysis/analysis.go
  antithesis/dingo-praos/internal/analysis/config.go
  antithesis/dingo-praos/internal/analysis/parser.go
  antithesis/dingo-praos/internal/genesis/genesis.go
  antithesis/dingo-praos/scripts/validate-config.sh
  antithesis/dingo-praos/scripts/wait-for-test.sh
  antithesis/dingo-praos/testnets/dingo-praos/docker-compose.yaml
  dingo-archive-demo/Dockerfile.configurator
  dingo-archive-demo/README.md
  dingo-archive-demo/cmd/inspect-blob/main.go
  dingo-archive-demo/configurator.sh
  dingo-archive-demo/demo.sh
  dingo-archive-demo/docker-compose.yml
  dingo-archive-demo/internal/archivedemo/harness.go
  dingo-archive-demo/internal/archivedemo/scenarios/tests_test.go
  dingo-archive-demo/load-env.sh
  dingo-archive-demo/run-tests.sh
  dingo-archive-demo/scripts/preflight-genesis-supply.sh
  dingo-archive-demo/scripts/teardown.sh
  dingo-archive-demo/start.sh
  dingo-archive-demo/stop.sh
  dingo-archive-demo/topology/cardano-producer.json
  dingo-archive-demo/topology/dingo-archive.json
  dingo-archive-demo/topology/dingo-pruning.json
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

fix: correct compose stack review findings
  antithesis/dingo-praos/internal/analysis/analysis.go
  dingo-archive-demo/scripts/preflight-genesis-supply.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops

fix(antithesis): publish helper images for arm64
  .github/workflows/antithesis.yml
  antithesis/dingo-praos/Dockerfile.analysis
  antithesis/dingo-praos/README.md
  dingo-archive-demo/docker-compose.yml
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms

fix(security): bind MinIO ports to loopback
  dingo-archive-demo/.env.example
  dingo-archive-demo/README.md
  dingo-archive-demo/demo.sh
  dingo-archive-demo/docker-compose.yml
  dingo-archive-demo/internal/archivedemo/scenarios/tests_test.go
  dingo-archive-demo/load-env.sh
  dingo-archive-demo/run-tests.sh
  dingo-archive-demo/start.sh
Owners: @blinklabs-io/core, @blinklabs-io/ops, @blinklabs-io/docs, @blinklabs-io/pms
